* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;

  @include change(tab-port) {
    padding: 0;
    width: 100%;
  }
}

html {
  box-sizing: border-box;

  @include change(tab-land) {
    font-size: 56.25%;
  }

  @include change(tab-port) {
    font-size: 50%;
  }

  @include change(big-desktop) {
    font-size: 75%;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  fill: currentColor;
  color: var(--primary-color);
  margin-right: 2rem;
  transition: all 0.3s;

  @include change(tab-land) {
    width: 1.4rem;
    height: 1.4rem;
  }
  @include change(tab-port) {
    width: 1.6rem;
    height: 1.6rem;
  }

  &:hover {
    transform: scale(1.5);
  }
}
